pre {
  font-size: 1.2rem;
}

.icon {
  display: none;
  /* Initially hide all icons */
  transition: opacity 0.3s ease-in-out;
  /* Smooth transition */
  opacity: 0;
  /* Start with opacity 0 */
}

[data-theme='light'] #svg-sun-icon {
  display: inherit;
  opacity: 1;
  /* Fully visible */
}

[data-theme='dark'] #svg-moon-icon {
  display: inherit;
  opacity: 1;
  /* Fully visible */
}

#svg-git-icon {
  display: inherit;
  opacity: 1;
  /* Fully visible */
}


.side-bar {
  width: 25% !important;

  @media (min-width: 50rem) {
    width: 25% !important;
  }
}

.main {
  margin-left: 25% !important;
  margin-right: 15% !important;

  @media (min-width: 50rem) {
    margin-left: 25% !important;
    max-width: calc(100% - 25%) !important;
    margin-right: 15% !important;
  }
}