pre {
  font-size: 1.2rem;
}


.icon {
  display: none; /* Initially hide all icons */
}

[data-theme='light'] #svg-sun-icon {
  display: inherit; /* Show the sun icon when in light mode */
}

[data-theme='dark'] #svg-moon-icon {
  display: inherit; /* Show the moon icon when in dark mode */
}


.side-bar {
  width: 25% !important;
  @media (min-width: 50rem) {
    width: 25% !important;
  }
}

.main {
  margin-left: 25% !important;
  margin-right: 15% !important;
  @media (min-width: 50rem) {
    margin-left: 25% !important;
    max-width: calc(100% - 25%) !important;
    margin-right: 15% !important;
  }
}
